Under min LIA så skulle jag framför allt vilja få praktisk erfarenhet av hur testning och utvecklingsarbete fungerar på en riktig arbetsplats. Jag skulle gärna vilja få lära mig mera och arbeta praktiskt med hela testprocessen. Allt ifrån planering och design av testfall, till exekvering fram till bugrapportering och utvärdering. Då vi har haft mycket teoretiskt arbete i utbildningen så känner jag verkligen att jag skulle vilja få mer praktisk erfarenhet helt enkelt. I slutet av dagen så skulle jag vilja lära mig så mycket som jag bara kan.

När det gäller några specifika tekniker eller områden som jag skulle vilja fördjupa mig i så skulle jag nog vilja fördjupa mig mera i testautomatisering samt CI/CD.